@model BusinessObject.ItemSubType

@{
    ViewBag.Title = "AddSubType";
}

<div class="w3-card-4 mr-2">
    <header class="w3-container w3-dark-gray">
        <div class="row">
            <div class="col-9"><h1>Add New Sub Type</h1></div>
            <div class="col-3 text-right">
                <a href="~/Configuration/GetSubTypes" class="w3-button w3-teal">Back to List <i class="fa fa-forward"></i></a>
            </div>
        </div>
    </header>

    <div class="w3-container">
        <p>
            
        </p>
    </div>

</div>



