@model IEnumerable<BusinessObject.DataEntry>

@{
    ViewBag.Title = "Home Page";
    
}

<div class="row">
    <div class="col-8">
        <h3>Calculation for month: @string.Format("{0:MMMM, yyyy}", DateTime.Now)</h3>
    </div>
    <div class="col-4 text-right">
        <a href="~/Expenditure/Create" class="w3-button w3-teal"><i class="fa fa-plus"></i> Add New Expenditure</a>
    </div>
</div>
<div class="row ml-2 mr-2">
    @Html.Partial("pv_MonthData",Model);
</div>